---
layout: default
title: Welcome
---

<h1>Welcome to <span class="drifts-logo">Drifts</span>.</h1>
<p>Find the music that makes your ears tingle, your mind wander, and your heart race.</p>

{% assign shows = site.shows | sort:'date' | reverse %}{% assign show = shows.first %}{% assign show2 = shows[1] %}
{% assign post = site.posts.first %} 
{% capture curtime %}{{ site.time | date: '%s' }}{% endcapture %}
{% capture posttime %}{{ show.date | date: '%s' }}{% endcapture %}

{% if curtime <= posttime %}
<h3>Next show:</h3>
<div class="fp-block fp-show" style="background: {{ show.bg-color }};">
	<style type="text/css" scoped>
		.fp-show .fp-text {
			color: {{ show.fg-color }};
		}
	</style>
	<a href="{{ show.url }}">
	
		<img src="{{ site.cdn-base }}{{ site.image-base }}500/{{ show.sid }}{{ site.image-extension }}" alt="{{ title }}" />
		<div class="fp-text">
			<h2 class="post-title">Show {{ show.sid }}
			{% if show.guest != null %} <small>{{ show.guest }}</small>{% endif %}</h2>
			<p class="post-date"><small>Releasing {{ show.date | date:"%B %-d, %Y" }}</small></p>
			<p class="listen-download">More information &rarr;</p>
		</div>
		<div class="clearfix"></div>
	</a>
</div>
{% assign show = show2 %}
{% endif %}
<h3>Latest show:</h3>
<div class="fp-block fp-show" style="background: {{ show.bg-color }};">
	<style type="text/css" scoped>
		.fp-show .fp-text {
			color: {{ show.fg-color }};
		}
	</style>
	<a href="{{ show.url }}">
	
		<img src="{{ site.cdn-base }}{{ site.image-base }}500/{{ show.sid }}{{ site.image-extension }}" alt="{{ title }}" />
		<div class="fp-text">
			<h2 class="post-title">Show {{ show.sid }}
			{% if show.guest != null %} <small>{{ show.guest }}</small>{% endif %}</h2>
			<p class="post-date"><small>Released {{ show.date | date:"%B %-d, %Y" }}</small></p>
			<p class="listen-download">Listen and download &rarr;</p>
		</div>
		<div class="clearfix"></div>
	</a>
</div>

<p><a href="/shows/" title="More shows">Explore more from the back catalog &rarr;</a></p>

<h3>Latest news:</h3>
<div class="fp-block fp-news " style="background: {{ post.bg-color }};">
	<style type="text/css" scoped>
		.fp-news .fp-link {
			color: {{ post.link-color }} !important;
		}
		.fp-news .fp-text {
			color: {{ post.fg-color }};
		}
		.fp-news .fp-text a, .fp-news .fp-text a:hover, .fp-news .fp-text a:visited {
			color: {{ post.link-color }};
		}
	</style>
	<a class="fp-link" href="{{ post.url }}">
			<h2 class="post-title">{{ post.title }}{% if post.subtitle != null %} <small>{{ post.subtitle }}</small>{% endif %}</h2>
			<p class="post-date"><small>Posted {{ post.date | date:"%B %-d, %Y" }}</small></p>
	</a>
	<div class="fp-text" style="color: {{ post.fg-color }}">
	{{ post.excerpt }} {% if post.content != post.excerpt %}<a href="{{ post.url }}">Read more &rarr;</a>{% endif %}
	</div>
	<div class="clearfix"></div>
</div>


<p><a href="/news/" title="More shows">View more news &rarr;</a></p>


