---
layout: default
title: Home
paginate: 6
---

<h1>Welcome to <span class="drifts-logo">Drifts</span>.</h1>
<p>The stuff that makes your ears tingle, your mind wander, and your heart race.</p>


<div class="fp-block">
	<h4 class="fp-block-title">Latest show:</h4>
	{% for show in site.shows %}
	<div class="sl-item" style="background: {{ show.bg-color }} !important; color: {{ show.fg-color }} !important">
	<a href="{{ show.url }}">
		<img src="{{ site.cdn-base }}{{ site.image-base }}{{ show.id }}{{ site.image-extension }}" alt="{{ title }}" width="100%" />
		<p color="{{show.fg-color}}"><strong>Show {{ show.id }}</strong>
		{% if show.guest != null %} <small>{{ show.guest }}</small>{% endif %}</p>
	</a>
	</div>
	{% endfor %}
</div>


