---
layout: default
title: Shows
show-in-menu: true
---

<div class="show-listing">
	
	{% assign sshows = site.shows | sort:'date' | reverse %}
	{% for show in sshows %}
	{% capture image %}{{site.cdn-base}}{{site.image-base}}500/{{show.sid}}{{site.image-extension}}{% endcapture %}
	<div class="sl-item" style="background: {{ show.bg-color }} !important; color: {{ show.fg-color }} !important">
	<a href="{{ show.url }}">
		<p><small>{{ show.date | date:"%B %-d, %Y" }}</small></p>
		<img src="{{ image }}" alt="{{ title }}" width="100%" />
		<p color="{{show.fg-color}}"><strong>Show {{ show.sid }}</strong>
		{% if show.guest != null %} <small>{{ show.guest }}</small>{% endif %}</p>
	</a>
	</div>
	{% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

