<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	
	{% comment %} COLOR INCLUDES {% endcomment %}
	{% if page.fg-color != null %}
		{% assign fg = page.fg-color %}
	{% else %}
		{% assign fg = site.fg-color %}
	{% endif %}
	{% if page.bg-color != null %}
		{% assign bg = page.bg-color %}
	{% else %}
		{% assign bg = site.bg-color %}
	{% endif %}
	{% if page.link-color != null %}
		{% assign lc = page.link-color %}
	{% else %}
		{% assign lc = site.link-color %}
	{% endif %}
	
  {% include head.html fg-color=fg bg-color=bg link-color=lc %}

  <body>

    <div class="container content">
      {% include masthead.html %}

      {{ content }}

      <div class="footer">
        <p>
          <span class="copy">&copy;</span> <a href="http://playful.media/" target="_blank" alt="Playful Media">Playful Media</a> {{ site.time | date: '%Y' }}. Recording and performance rights belong to their original owners. All other rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
