---
layout: default
show-dark: false
comments: true
---
{% capture image %}{{site.cdn-base}}{{site.image-base}}1000/{{page.sid}}{{site.image-extension}}{% endcapture %}

{% if page.date <= site.date %}{% assign reltext = "Releasing" %}{% else %}{% assign reltext = "Released" %}{% endif %}
<div class="page">
  <h1 class="show-head">Show {{ page.sid }}{% if page.guest != null %} <small>{{ page.guest }}</small>{% endif %}</h1>
  <span class="post-date"><small>{{reltext}} {{ page.date | date:"%B %-d, %Y"}}</small></span>
  <p class="dl-link">
	  {% if page.sc-id %}
  	<iframe class="sc-embed" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.sc-id }}&amp;color={{ page.fg-color | remove:'#' }}&amp;inverse={{ page.sc-invert }}&amp;auto_play=false&amp;show_user=true"></iframe>
  	{% endif %}
		<a href="{{ site.cdn-base }}{{ site.podcast-base }}{{ page.filename }}" title="{{ page.title }}" target="_blank">Download now &rarr;</a>
		{% if page.mc-url %}
		<a class="mc-link" href="{{ page.mc-url }}" title="Show {{page.sid}} on Mixcloud" target="_blank">Listen on Mixcloud &rarr;</a>
  	<iframe class="mc-embed" height="60" src="https://www.mixcloud.com/widget/iframe/?feed={{ page.mc-url }}&amp;mini=1&amp;embed_uuid={{ page.mc-uuid }}&amp;replace=0&amp;hide_cover=1&amp;embed_type=widget_standard&amp;hide_tracklist=1" frameborder="0"></iframe>
  	{% endif %}
  </p>

	  
  <img class="show-image" src="{{ image }}" alt="{{ title }}" />
  {{ content }}
  <span style="clear: both;" />
  <span style="float:right;"><a href="#top" title="Back to top">Back to top &uarr;</a></span>
  <a href="/shows/" title="Back to show listing">&larr; Back to show listing </a>
  
  {% if page.comments %}
  <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'driftsfm';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
    
  
{% comment %}
<div class="pagination">
  {% if page.previous.url %}
    <a class="pagination-item older" href="{{ page.previous.url }}">Previous</a>
  {% else %}
    <span class="pagination-item older halftone">Previous</span>
  {% endif %}
  {% if page.next.url %}
      <a class="pagination-item newer" href="{{ page.next.url }}">Next</a>
  {% else %}
    <span class="pagination-item newer halftone">Next</span>
  {% endif %}
</div>
{% endcomment %}
</div>
