---
layout: default
show-dark: false
---



<div class="page">
  <h1>Show {{ page.id }}  {% if page.guest != null %}<small>{{ page.guest }}</small>{% endif %}</h1>
  <small>Released {{ page.date | date:"%B %-d, %Y"}}</small>
  <p class="dl-link">
  	<iframe class="sc-embed" width="62%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.sc-id }}&amp;color={{ page.fg-color | remove:'#' }}&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
		<a href="{{ site.cdn-base }}{{ site.podcast-base }}{{ page.filename }}" title="{{ page.title }}" target="_blank">Download now &rarr;</a>
  </p>

	  
  <img class="show-image" src="{{ site.cdn-base }}{{ site.image-base }}{{ page.id }}{{ site.image-extension }}" alt="{{ title }}" width="250px" />
  <p>{{ sc-url }}</p>
  {{ content }}
  <span style="clear: both;" />
  <a href="#top" title="Back to top">Back to top &uarr;</a>
  
</div>
